*{
    margin: 0;
    padding: 0;
    min-height: 100% ;
    width: 100vh;
    
}





body{
    background-color: black;
    background-image: url(th.jpg);
    background-size: cover;
    background-position: center;

h1{
    text-align: center;
    color: blue;
}
H2{
    font-size: xx-large;
    color: white;
    background-color: black;
}